.keto-overview {
    margin-left: 0.75em;
    margin-right: 0.75em;
    margin-bottom: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    display: inline-block;
    width: 15em;
    text-align: center;
    background-color: #dcf1ff;
    border-radius: 25px;

}

.keto-overview img {
    display: inline-block;
}